/* ==========================================================================
  Variables
  ========================================================================== */
$brand-primary-light: lighten( $brand-primary, 20% ) !default;
$brand-primary-dark: darken( $brand-primary, 20% ) !default;

$brand-second-light: lighten( $brand-second, 20% ) !default;
$brand-second-dark: darken( $brand-second, 20% ) !default;

$brand-third-light: lighten( $brand-third, 20% ) !default;
$brand-third-dark: darken( $brand-third, 20% ) !default;



/* ==========================================================================
  Global
  ========================================================================== */
.btn,
.btn-lg,
input,
textarea,
input[type="text"],
input[type="tel"],
input[type="email"],
.idx_call2action,
.add-to-favorites,
.tools-panel,
.selectize-input {
    // add our drop shadow effect to all buttons and form elements
    @include box-shadow( -3px 3px 0 0 rgba(0, 0, 0, .18) !important );

    &:active,
    &:focus,
    &.focus {
        @include box-shadow(none !important);
    }
}

// rIDX tools panel fixes for child theme design
.tools-panel {
    // adjusts border radius for box-shadow above
    border-radius: $border-radius-base;

    // removes individual box-shadow from buttons in the .tools-panel
    .btn,
    .add-to-favorites {
        @include box-shadow(none !important);
    }
    .btn-primary {
        line-height: initial;
    }
}

// transition all our links
a {
    @include transition( all 0.35s ease-in-out );
}

.entry-content {
    a {
        text-decoration: underline;
    }
}