/* ==========================================================================
  Header
  ========================================================================== */



/* ==========================================================================
  Shrinking Header v2
  ========================================================================== */
@media (min-width: $screen-sm-max) {
    .banner.shrink {

        .navbar-header {
            width: auto;
        }

        a.navbar-brand {
            margin-top: -17px;
            padding: 0;
            width: 100%;
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
            img {
                width: 80px;
            }
        }

        .center-logo {
            width: 0;
            img {
                height: 0;
                width: 0;
                -webkit-transition: all 0.5s ease-in-out;
                -moz-transition: all 0.5s ease-in-out;
                transition: all 0.5s ease-in-out;
            }
        }

        .contact-phone {
            width: 0;
            font-size: 0px;
            padding: 10px 0;
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
            line-height: inherit;
        }
    }
}
@media (max-width: $screen-lg-min) {
    .banner.shrink {

        .navbar-nav > li > a {
            font-size: 0.8em;
            line-height: 3em !important;
        }
    }
}