/* ==========================================================================
Homepage Styles
========================================================================== */
.home {
    // Homepage Slideshow stuff
    .blvd-slideshow {
        border-bottom: 2px solid mix($footer-background-color, $brand-primary);

        &:after {
            content: '';
            position: absolute;
            background-color: $footer-background-color;
            border-top: 2px solid mix($footer-background-color, $brand-primary);
            width: 100%;
            height: $padding-small-horizontal;
            left: 0;
            bottom: 0;
        }
    }

    #content {
        @include box-shadow(none);
    }


    .home-box {
        @include box-shadow( 4px -3px 10px rgba(0,0,0,0.45) );
        text-align: center;
        overflow: hidden;

        &.home-cta-1 {
            background-color: lighten( $brand-second, 15% );
            z-index: 4;
        }

        &.home-cta-2 {
            background-color: $brand-second;
            z-index: 3;
        }

        &.home-cta-3 {
            background-color: darken( $brand-second, 20% );
            z-index: 2;
        }

        &.home-cta-4 {
            background-color: darken( $brand-second-dark, 25% );
        }

        // Makes buttons out of semantic markup within cta boxes
        .home-box-action {
            display: inline-block;
            @extend .btn-lg;
            @extend .btn-primary;
        }
    } // end of .actionbox

} // end of .home