/* ==========================================================================
   rIDX Quick Search Widget - Theme Specific
   ========================================================================== */
$qsw-gradient-base-color: change-color( $rIDX-quicksearch-home-bg, $rIDX-quicksearch-home-bg, 25% );

.home .quick-search-widget-wrapper {
    background-color: $rIDX-quicksearch-home-bg;

    /* IE10 Consumer Preview */
    background-image: -ms-radial-gradient(center top, ellipse farthest-side, $qsw-gradient-base-color 0%, $rIDX-quicksearch-home-bg 100%);

    /* Mozilla Firefox */
    background-image: -moz-radial-gradient(center top, ellipse farthest-side, $qsw-gradient-base-color 0%, $rIDX-quicksearch-home-bg 100%);

    /* Opera */
    background-image: -o-radial-gradient(center top, ellipse farthest-side, $qsw-gradient-base-color 0%, $rIDX-quicksearch-home-bg 100%);

    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(radial, center top, 0, center top, 487, color-stop(0, $qsw-gradient-base-color), color-stop(1, $rIDX-quicksearch-home-bg));

    /* Webkit (Chrome 11+) */
    background-image: -webkit-radial-gradient(center top, ellipse farthest-side, $qsw-gradient-base-color 0%, $rIDX-quicksearch-home-bg 100%);

    /* W3C Markup, IE10 Release Preview */
    background-image: radial-gradient(ellipse farthest-side at center top, $qsw-gradient-base-color 0%, $rIDX-quicksearch-home-bg 100%);

    @include box-shadow( 0px -1px 8px 1px rgba(0,0,0,0.5) );

}