/* ==========================================================================
  Vegas Blvd Theme rIDX Slider
  ========================================================================== */
// removes margin from
.widget_promoted_listings_widget .slider-wrapper {
    margin-top: 1em;
    margin-bottom: 1em;
}
.widget_promoted_listings_widget .bx-wrapper {
    max-width: 100% !important;

    .bx-viewport {
        margin-bottom: 0;
        height: 270px !important;
    }

    .idx-result-snippet .idx-result-snippet-wrapper {
        margin: 0;
        padding: 0;
        .listing-top-title {
            display: none;
        }
        .listing-slider-title {
            display: block;
        }
    }

    .idx-grid .idx-result-snippet-wrapper {
        .photo-wrap {
            height: 270px !important;
            min-height: 0 !important;
            overflow: hidden;
            img.main-photo {
                max-width: none;
                min-height: 0 !important;
                margin-left: -75px;
                margin-top: -50px;
                width: 200% !important;
            }
        }
    }

    .listing-slider-title {
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

    }

    .main-details {
        left: 0;
        overflow: hidden;
        position: absolute;
        top: 0;
        opacity: 0;
        background: fade-out( $brand-second, .15 );
        padding: 5px 10px;
        width: 100%;
        height: 100%;
        transform: rotateX(45deg);
        transform-origin: center bottom 0;
        transition: all .1s linear .2s;
        z-index: 9999;


        // Hides the open house flag because there is no room in the slideshow design
        .open_house_flag {
            display: none;
        }

    }

    // Floats slider controls outside slider and removes background image for text
    @media ( min-width: $screen-md-min ) {
        .bx-controls {
            .bx-next, .bx-prev {
                background: none;
                display: block;
                z-index: $zindex-navbar;

                &:before {
                    font-size: 3em;
                    line-height: 1em;
                    text-decoration: none;
                    text-indent: initial;
                    display: block;
                    height: 1em;
                    width: 1em;
                    font-family: FontAwesome;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
            .bx-prev {
                left: -45px;
                &:before {
                    content: '\f104';
                }
            }
            .bx-next {
                right: -60px;
                &:before {
                    content: '\f105';
                }
            }
        }
    }
} // end of .bx-wrapper

.idx-result-snippet-wrapper:hover {
    .main-details {
        opacity: 1;
        transform: rotateX(0deg);
    }
}