/* ==========================================================================
  Header
  ========================================================================== */
header {

  &.navbar {

    border-bottom: 4px solid $brand-primary;
    color: #fff;
    .navbar-toggle {
      background-color: $brand-primary;
      &:focus, &:hover {
        background-color: $brand-primary;
      }

    }

    .navbar-nav {
      @media (min-width: $grid-float-breakpoint) and (max-width: $screen-sm-max) {
        font-size: 1.1rem;
      }
      .open .dropdown-menu > li > a {
        @media (max-width: $grid-float-breakpoint) {
          color: #fff;
        }
      }
      > li > a {

        color: #fff;
        @media (max-width: $screen-md-max) {
          padding: 10px 5px;
        }
        @media (min-width: $grid-float-breakpoint) {
          //line-height: $navbar-height;
        }
      }
      li.featured-area ul .sub-menu {display: none;}
      @media(min-width: $grid-float-breakpoint) {
        li.featured-area {
          position: static;
          ul {
            width: 100%;
            box-shadow: none;
            @media(min-width: $screen-md-min){
              width: 1000px;
              left: -150px;
            }
            li:hover {
              .sub-menu {
                display: block;
                    a{
                        color: #fff;
                    }
              }
            }
          }
          ul li {
            display: inline-block;
            width: 25%;
            @media(min-width: $screen-md-min) {
              width: 22%;
            }
            font-weight: bold;
            font-size: 15px;
            float: left;
            padding: 0.5em 1em;
            position: static;
            a {
              padding: 3px;
            }
          }
          ul li:nth-child(2n) ul:before, ul li ul:before {
            content: "▲";
            color: $brand-primary;
            left: 22px;
            margin-top: -10px;
            position: absolute;
          }
          ul li:nth-child(2n+2) ul:before {
            left: 27%;
          }
          ul li:nth-child(2n+3) ul:before {
            left: 52%;
          }
          ul li:nth-child(2n+4) ul:before {
            left: 77%;
          }
          ul li ul {
            left: 0px;
            top: 43px;
            width: 100%;
            @media(min-width: $screen-md-min) {
              width: 998px;
            }
            box-shadow: none;
            border-top: 1px solid $brand-primary;
            margin-top: 4px;
            position: absolute;
            background: $brand-primary;
            -moz-background: $brand-primary;
            -webkit-background: $brand-primary;
            -khtml-background: $brand-primary;
          }
          ul li ul li {
            font-weight: normal;
            padding: 5px;
            @media(min-width: $screen-md-min) {
              padding: 5px 1.1em;
            }
            font-size: 13px;
            position: relative;
          }

          ul li ul li a {
            padding-bottom: 0px;
          }
          ul li ul li ul:before {
            content: '' !important;
          }
          ul li ul li ul {
            display: block;
            width: 100%;
            position: relative;
            padding: 0px;
            top: 0px;
            border-top: 1px solid #2c2c2c;
            background: transparent !important;
          }
          ul li ul li ul li {
            width: auto;
            float: none;
            display: block;
            padding: 5px 0.7em;
            border-bottom: 0px solid #2c2c2c;
          }
        }
      }
    }
  }
  .last-menu ul {
    right: 100%;
    ul {

      left: auto !important;
      right: 100%;
    }
  }
}





 /* ==========================================================================
   Homepage Styles
   ========================================================================== */
   
/* Quick Search Widget */

.search-widget {
    background: $brand-primary;
}

.center{
    @include center-block();
    float: none;
}

.home{ 
    .quick-search-widget-wrapper {
        box-shadow: none;
    
        a, .legend {
            color: #fff;
        }
        
        .btn-primary {
            background: #333;
        }
    
    }

}

/* CTA */

.home {

    .home-box.home-cta-1, .home-box.home-cta-2, .home-box.home-cta-3 {
        background-color: #fff;
        box-shadow: none;
        height: 225px;
        max-height: 225px;
    }
    
    .home-box{
        padding: 25px 0;
    }
}

.home-box-title{
    color: $brand-primary;
    font-size: 16px;
}

.home-box-action{
    background: #333 !important;
    box-shadow: none !important;
    padding: 10px !important;
    
    &:hover{
      background: $brand-primary !important;  
    }
}

.img-responsive {
    display:inline;
}

/* Slide Content Overlay */

.slide-content{

    h2{
        color: #fff;
        font-size: 350%;
        margin: 0;
    }
    
     h3{
        color: #fff;
        font-size: 150%;
        margin: 0;
        line-height: 1.5em;
    }
    
    .home-value{
        background: rgba(0, 12, 30, 0.8); 
        color: #fff; 
        padding: 30px;
        margin-top:15px;
        
           h4 {
                color: $brand-second;
                font-size: 225%; 
                font-weight: 600;
                line-height: 26px;                
                
                    span{
                        font-size: 65%;                        
                    }
            }
            
            p{
                font-size: 13px;
            }        
    }
    
}

.map{
    position: relative;
    top: -30px;
}


.homepage-parallax {
	//background:url(#{$home_widget_parallax}) fixed; 
	width:100%;
}


.widget-title{
    h3{
        font-size: 18px;
    }
}

/* Blog */

.news {
    
    .news-cat{
        font-size: 250%;
    }
    
    article{
        margin: 0 0 60px 0;
        border-bottom: 1px solid $brand-third;
        padding-bottom: 25px;
    }
    
    .entry-title {
        a{
            color: $headings-color;
            font-size: 65%;
        }
    }
}

.entry-meta{
    padding-top: 5px;
    
    .category, .comment-count {
    
        display: none;    
    }
    
    .time{
        a{
        color:$brand-third;
        font-size: 90%;
        }
        
        .fa-calendar{
            display: none;
        }
    }
}

.read-more-link{
    padding-top: 15px;
}

body.page, body.blog{
    background: #000;
    background:url('/wp-content/uploads/2014/04/area-background.jpg') scroll no-repeat left top;
}

.page #content, .blog .primary-wrapper{
    background: rgba(255, 255, 255, 0.9);
}

.blog #content{
    box-shadow: none;
}

body.home{
    background: none;
}

.home #content{
    background: none;
}


 /* ==========================================================================
   IDX Styles
   ========================================================================== */
.idx-result-snippet{
    .idx_call2action, .add-to-favorites{
    color: #fff;
    padding: 4px;
    }
    
    .add-to-favorites{
        background: $brand-primary;
        
        &:hover{
            color: #fff;
        }
    }
        
    .idx_call2action{
    background: #333;
    }
}

 /* ==========================================================================
   SVG Styles
   ========================================================================== */

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

@media (max-width: $screen-xs-max) {
  .map {display: none;}
}

svg{
   
    g{         
        &#corona, 
        &#riverside,
        &#moreno_valley{
            path {
                fill: $brand-second;
                }
                
                    &:hover{
                        path{ 
                            fill: $brand-primary;                            
                            }
                    }
        }
    }
    
    a, text{
        fill:#fff;
        font-family:$headings-font-family;
        font-size: 18px;
        font-weight: bold;
        
        &:hover{
             text-decoration: none;            
        }
        
    }
}

 /* ==========================================================================
   Plugin Styles
   ========================================================================== */

.ytctitle {
    a{
        color: #1f7eba;
        font-size: 14px;
            
            &:hover{
                color: #333;
                text-decoration: none;
            }
    }
    
}

